<!-- Top Bar
		============================================= -->
<div id="top-bar" class="position-fixed fixed-top">

  <div class="container clearfix">

    <div class="col_half nobottommargin clearfix">

      <!-- Top Links
                ============================================= -->
      <div class="top-links">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="faqs.html">FAQs</a></li>
          <li><a href="login-register.html">Login</a>
            <div class="top-link-section">
              jhjhjhjh
            </div>
          </li>
        </ul>
      </div><!-- .top-links end -->

    </div>

    <div class="col_half fright col_last clearfix nobottommargin">


    </div>

  </div>

</div><!-- #top-bar end -->
