<!-- Header
		============================================= -->
<header id="header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo" data-dark-logo="assets/images/logo-dark.png"><img src="assets/images/logo.png" alt="Canvas Logo"></a>
        <a href="index.html" class="retina-logo" data-dark-logo="assets/images/logo-dark@2x.png"><img src="assets/images/logo@2x.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
                ============================================= -->
      <nav id="primary-menu" class="style-2">

        <ul>
          <li routerLinkActive="current"><a routerLink="/home"><div>Home</div></a></li>
          <li routerLinkActive="current"><a routerLink="/about"><div>About</div></a></li>
          <li routerLinkActive="current"><a routerLink="/faq"><div>Faq</div></a></li>

        </ul>

        <!-- Top Cart
                    ============================================= -->
        <div class="fright lang-selector">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-line-globe"></i>Idioma - Español
              </a>
              <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          </ul>
        </div><!-- #top-cart end -->


      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
